{% extends "layout.html" %}

{% block title %}
Assistant page
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="inner-window">
        <div class="header">
            <h1>◆ FRENCH_ASSISTANT.EXE ◆</h1>
            <p>Header p</p>
        </div>
        <div class="messages-area">
            {% for msg in messages %}
            <div class="message {{ msg['role'] }}">
                <div class="message-timestamp">{{ msg['created_at'] }}</div>
                <div class="message-content">{{ msg['message'] }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="input-area">
            <form class="input-container">
                <input class="input-field" type="text" name="user_input" autocomplete="off" placeholder="Ask anything:">
                <button class="send-button" type="submit">Send</button>
            </form>
            <div class="input-footer">
                <span>◆ PRESS ENTER TO SEND</span>
                <span>STATUS: READY</span>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- From:  https://flask.palletsprojects.com/en/stable/tutorial/static/ -->
<script src="{{ url_for('static', filename='assistant.js') }}"></script>
{% endblock %}