{% extends "layout.html" %}

{% block title %}
Chat History
{% endblock %}

{% block content %}
<p>Chat history:</p>
<div id="chat">
    {% for date, msgs in messages.items() %}
    <h3 class="{{ date }}">{{ date }}</h3>
    {% for msg in msgs %}
    <div class="{{ msg['role'] }}">
        <strong>{{ msg['role'] }}:</strong>{{ msg['message'] }}
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<!-- From:  https://flask.palletsprojects.com/en/stable/tutorial/static/ -->
<script src="{{ url_for('static', filename='history.js') }}"></script>
{% endblock %}