{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<form class="form-register" method="post">
    <h2>Login</h2>
    <p class="error" style="color: red;" hidden></p>
    <div>
        <label for="email">Email:</label>
        <input autocomplete="off" type="text" name="email" placeholder="email">
        <label for="password">Password:</label>
        <input autocomplete="off" type="password" name="password" placeholder="*******">
        <button type="submit">Sign in</button>
    </div>
    <div class="input-area">
        <div class="input-footer">
            <span>No account? <a href="/register">REGISTER HERE</a></span>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}