{% extends "layout.html" %}

{% block title %}
Register page
{% endblock %}

{% block content %}
<form class="form-register">
    <h2>Register</h2>
    <div>
        <label for="email">Email:</label>
        <input autocomplete="off" name="email" type="text">

        <label for="password">Password:</label>
        <input autocomplete="off" name="password" type="password">

        <label for="check">Confirm password</label>
        <input autocomplete="off" name="confirm" type="password">
    </div>
    <button type="submit">Register</button>

    <pre class="ascii-art">
           .--.                   .---.
       .---|__|           .-.     |~~~|
    .--|===|--|_          |_|     |~~~|--.
    |  |===|  |'\     .---!~|  .--|   |--|
    |%%|   |  |.'\    |===| |--|%%|   |  |
    |%%|   |  |\.'\   |   | |__|  |   |  |
    |  |   |  | \  \  |===| |==|  |   |  |
    |  |   |__|  \.'\ |   |_|__|  |~~~|__|
    |  |===|--|   \.'\|===|~|--|%%|~~~|--|
    ^--^---'--^    `-'`---^-^--^--^---'--' 
    </pre>
    <pre class="header ascii-art">
            _________________________________________________________
            ||-------------------------------------------------------||
            ||.--.    .-._                        .----.             ||
            |||==|____| |H|___            .---.___|""""|_____.--.___ ||
            |||  |====| | |xxx|_          |+++|=-=|_  _|-=+=-|==|---|||
            |||==|    | | |   | \         |   |   |_\/_|Black|  | ^ |||
            |||  |    | | |   |\ \   .--. |   |=-=|_/\_|-=+=-|  | ^ |||
            |||  |    | | |   |_\ \_( oo )|   |   |    |Magus|  | ^ |||
            |||==|====| |H|xxx|  \ \ |''| |+++|=-=|""""|-=+=-|==|---|||
            ||`--^----'-^-^---'   `-' ""  '---^---^----^-----^--^---^||
            ||_______________________________________________________||
            
     </pre>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='register.js')}}"></script>
{% endblock %}